<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smvitm.rajath.smvitm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notifi" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubInformationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_sub_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GotoWeb"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewWebsite"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SmvitmCafiteria"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".SMVITMHoliday"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".BasicScienceFaculty"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.CustomeTheme" />
        <activity
            android:name=".Faculty_list"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".FacultyInfoDisplay"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AboutApplication"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.CustomeTheme1" />
        <activity
            android:name=".Setting"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AboutDevelopresActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_about_developres"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VtuQList"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ActivitySmvitmEventsManeger"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".DepartmentListActivity"
            android:label="@string/title_activity_department_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OlaQuestionActivity"
            android:label="@string/title_activity_ola_question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebsiteActivity"
            android:label="@string/title_activity_website"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutSMVITMActivity"
            android:label="@string/title_activity_about_smvitm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Clg_BookActivity"
            android:label="@string/title_activity_clg__book"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>